<section class="splash-screen">
    <h1>Budgeti</h1>

    <div class="links">
    <div class="in-link"><%= link_to "Sign in", new_user_session_path, class:"nav-link" %></div>
    <div><%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %></div>
    </div>

</section>