<div class="card p-3 mb-2 d-flex justify-content-between flex-row " id="<%= dom_id payment %>">
  <p>
    <strong>
    <%= payment.name %>
    </strong>
  </p>

  <p>
    <strong>$</strong>
    <%= payment.amount %>
  </p>

</div>
