<h3 class="text-center mt-4">New payment</h3>

<%= render "form", payment: @payment %>

<br>

<div class="text-center">
  <%= link_to "Back to payments", category_payments_path, class:"btn" %>
</div>
