/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #e6e7e7;
}

.register {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  padding: 1rem;
}

.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  padding: 1rem;
}

.bar {
  background-color: #3778c2;
  align-items: center;
}

.button {
  color: ghostwhite;
}

.in-link {
  background-color: rgb(76, 76, 218);
  color: white;
  padding: 5px;
}

.action {
  background-color: #9fc92b;
  height: 15vh;
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.add-btn {
  background-color: #9fc92b;
}

.side-bar {
  background-color: #3778c2;
}

.offcanvas-body li {
  list-style: none;
  padding: 0.5rem;
  border-bottom: solid 1px rgb(54, 46, 46);
  font-size: 1.2rem;
  width: 100%;
}

.call {
  width: 100%;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 0;
  color: white;
}
