<div class="card d-flex justify-content-between flex-row p-3 mb-1" id="<%= dom_id category %>">
 <div class="d-flex flex-row"> 
  <img src="<%= category.icon %>" >
  <p class="ms-2">
    <strong>
    <%= category.name %>
    </strong>
  </p>
</div>
  
  <p>$<%= category.total_payments %></p>
</div>

