<div class="text-center mt-2">
<h3>New category</h3>
</div>
<%= render "form", category: @category %>

<br>

<div class="text-center">
  <%= link_to "Back to categories", categories_path, class:"btn" %>
</div>
